@mixin blink {
	-webkit-animation: blink linear 1.25s infinite;
	animation: blink linear 1.25s infinite;
		@-webkit-keyframes blink {
		0% { opacity: 1; } 
		50% { opacity: .1; } 
		100% { opacity: 1; }
		}
		@keyframes blink {
		0% { opacity: 1; } 
		50% { opacity: .1; } 
		100% { opacity: 1; }
		}
}
