// too hexy for my shirt

$ruby: 						#D22418;
$lemon: 					#FDFD00;
$white: 					#FFF;
$midnight:				#020710;
$very-dark-blue: 	#13233A;

$blue:						#028BD4;
$dark-blue:				#037DA9;
$light-blue:			#7ED3F7;
$yellow:					#FFF149;
$green:						#008742;
$orange:					#F37735;
