$font-stack--sans: Inter, sans-serif;

$weight--regular: 400;
$weight--semibold: 600;

$type--xs: 8px;
$type--small: 16px;
$type--medium: 24px;
$type--large: 32px;
$type--xl: 40px;


body {
  font-family: $font-stack--sans;
  font-size: 1em;
  line-height: 1.5;
}

p {
  margin: 0;
}

.type-small {
	font-size: $type--small;
}

.type-medium {
	font-size: $type--medium;
}

.type-large {
	font-size: $type--large;
}

.type-white {
	color: $white;
}

.type-center {
	text-align: center;
}