$font-stack--sans: 'Arimo', sans-serif;
$font-stack--serif: 'Amarante', cursive;
$font-stack--retro: tbd;

$weight--regular: 400;
$weight--semibold: 600;

body {
  font-family: $font-stack--sans;
  font-size: 1em;
  line-height: 1.5;
}

p {
  margin: 0;
}
