.illustration {
  width: 100%;
  max-width: 540px;
  @media screen and (max-width: 650px) {
  	max-width: 320px;
  	padding-top: $unit--large;
  }
}

.illustration-long {
  width: 100%;
  padding-top: $unit--large;
}