// Section-specific

.section {
  padding: 6em 0;
}

.strange-section__blurb,
.arcade-section__blurb,
.adios-section__blurb {
  margin: 0 auto;
  max-width: 50%;
}

.hero-section__blurb,
.adios-section,
.strange-section__headline {
  font-family: $font-stack--serif;
  font-weight: $weight--regular;
  text-transform: uppercase;
}

.hero-section {
  background: url("#{$asset-path}" + "#{$hero-background}"), no-repeat;
  background-size: cover;
  padding: 6em 0;
  text-align: center;
}

.hero-section__logo {
  margin: 0 auto;
  margin-bottom: 4em;
  width:100%;
  max-width: 600px;
}

.hero-section__blurb {
  color: $ruby;
}

.hero-section__date {
  font-size: $type--medium;
  font-weight: $weight--semibold;
}

.hero-section__place {
  font-size: $type--small;
}

.netflix-logo {
  fill: #e50914;
  height: 2.5em;
  padding: 0 1em;
  width: 8em;
}

.strange-section {
  background:
        linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
        black
        url("#{$asset-path}" + "#{$joyce-background}");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.strange-section__blurb {
  color: white;
  margin-left: 8em; // Need to remove for small screens
}

.strange-section__button {
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(#000, 0.2);
  margin-top: 3em;
  text-align: left;
  padding: 1em;
  width: 75%;
}

.strange-section__netflix {
  align-items: center;
  display: flex;
  font-weight: $weight--semibold;
  letter-spacing: 1px;
  padding-top: 1em;
  text-transform: uppercase;
}

.arcade-section {
  background-color: black;
}

.arcade-section__blurb {
  padding-bottom: 3em;
}

.cookie-decorator {
  fill: $ruby;
  height: 5em;
  padding: 0 1em;
  width: 8em; }

.leaderboard { // Need to rearrange grid for small screens
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: stretch;
  justify-content: space-around;
}

.leaderboard__row {
  padding-top: 2em;
}

.leaderboard__list { 
}

.leaderboard__label {
  font-family: $font-stack--retro;
  font-size: $type--small;
  color: $lemon;
}
.leaderboard__item {
  font-family: $font-stack--retro;
  font-size: $type--large;
  color: $white;
}


.blink{
  color:$lemon;
  -webkit-animation: blink linear 1.25s infinite;
  animation: blink linear 1.25s infinite;
}
@-webkit-keyframes blink {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
@keyframes blink {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}

.arcade-section__teaser {
  font-family: $font-stack--retro;
  font-size: $type--small;
  color: $white;
  text-align: center;
}

.events-section {
  align-items: center;
  display: flex;
}

.events-section__costume,
.events-section__food {
  position: relative;
}
.events-section__image,
.donations-section__image {
  max-width: 360px;
}

.events-section__caption {
  position: absolute;
  bottom: 0;
  color: $white;
  padding: 1em;
  text-align: center;
  background-image: linear-gradient(-180deg, rgba(2,7,16,0.00) 19%, rgba(2,7,16,0.98) 71%, #020710 100%);
}

.donations-section  {
  .wrapper {
  align-items: center;
  display: flex;
  }
}

.adios-section {
    background:
        linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
        black
        url("#{$asset-path}" + "#{$footer-background}");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 150%;
}


.adios-section__blurb{
  color: $ruby;
}

.adios-section__headline {
  font-size: $type--xl;
}

.logo--small {
  width: 100%;
  max-width: 300px;
}

.upside-up {
  position: relative;
}
.upside-down {
  cursor: pointer;
  margin-top: -97px;
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
