// Spacing + Layout
$border-radius: 4px;

// Asset URLs
$asset-path: "../images/"; // TODO: change to non-local

$hero-background: "header-bg.png";
$joyce-background: "joyce-bg.png";
$footer-background: "footer-bg.png";
$food-background: "eleven.jpg";
$costume-background: "dustin.jpg";
$cookie-logo: "cookiepartythings-logo.png";
